# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Database
database.db
*.sqlite3

# Node
node_modules/
.npm
.yarn
dist/
build/

# Next.js
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Scripts with Secrets
create_superuser.py
